<html>
    <header>
        <title>Menu</title>
    </header>
    <body>
        <center>
            <table width="100%">
                <tr>
                    <td colspan="8"><a href=homepage.php><img src="../assets/head.PNG"></a></td>
                    <td>
                        <a href="user.php" >
                            User
                        </a><br>
                        <a href="menu.html" >
                            Menu
                        </a>
                    </td>
                </tr>
            </table>
        
            <a href="search.html">Search</a>
            <br>
            <a href="../controllers/logout.php">Log Out</a>
        </center>
    </body>
</html>