<html>
    <header>
        <title>Title</title>
    </header>
    <body>
        <center>
            <table width="100%">
                <tr>
                    <td colspan="8"><a href=homepage.php><img src="../assets/head.PNG"></a></td>
                    <td>
                        <a href="user.php" >
                            User
                        </a><br>
                        <a href="menu.html" >
                            Menu
                        </a>
                    </td>
                </tr>
            </table>
        <table>
            Search by User name:
            <form method="post" action="../controllers/searchCheck.php">
                <input type="text" name="userName" value="">
                <input type="submit" name="submit" value="search">
            </form>
        </center>
    </body>
</html>